<p><label>Select Players: </label><p>
<% @players.sort_by { |player| player.name }.each do |player| %>
<ul>
  <input type="checkbox" name="user[players_ids][]" id="<%= player.id%>" <%='checked' unless player.team_id.nil? %>><%=player.name%></input>

</ul>
<% end %>
