<h1>Sign Up!</h1>
<form method="POST" action="/new">
  <p><input type="text" name="username" placeholder="Username:"></p>
  <p><input type="text" name="email" placeholder="Email:"></p>
  <p><input type="text" name="password" placeholder="Password:"></p>
  <input type="submit" value="submit">
</form>
