<h1><%= @user.username %></h1>
<ul>
  <% if @user.team %>
  <li><a href="/users">All League Owners</a></li>
  <% else %>
  <li><a href="/team/new">Create</a></li>
  <% end %>
    <li><a href="/logout">Logout</a></li>
</ul>
