<h1><%= @user.username %></h1>
<ul>
  <% if @user.team %>
  <li><a href="/teams/show/<%=@user.team.id%>">See Roster</a></li>
  <li><a href="/users">See League Owners</a></li>
  <% else %>
  <li><a href="/teams/new">Create New Team</a></li>
  <% end %>
  <li><a href="/logout">Logout</a></li>
</ul>
