<h1>Welcome, <%= @user.username %></h1>
<ul>
  <% unless @user.team %>
  <li><a href="/team/new">Create</a></li>
  <% end %>
  <li><a href="/users">All League Owners</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
