<h1>Edit Player</h1>
<form action="/players/<%=@player.id%>" method="post">
  <p><input id="hidden" type="hidden" name="_method" value="patch">
  <label for="player_name">Edit Player Name:</label>
    <input type="text" name="player_name"><p>
   <input type="submit" value="submit">
</form>
